@model AssessTracker.Models.AssessmentViewModel
<div class="topLinks">
    <div class="goBackLinks">
        <a href="dashboard">Cancel</a>
    </div>
    <div class="dashLogLinks">
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<h1>Add an Assessment</h1>
<h3>@ViewBag.addAssessmentError</h3>
<form asp-controller="Assessment" asp-action="addAssessment" method="post" id="addAsstForm">
    
    <span asp-validation-for="Name"></span>
    <label asp-for="Name"></label>
    <input asp-for="Name">
    
    <input type="submit" value="Add Assessment">
</form>