@model AssessTracker.Models.KidViewModel

<div class="topLinks">
    <div class="goBackLinks">
        <a href="/dashboard">Cancel</a>
    </div>
    <div class="dashLogLinks">
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<h1>Add a Child</h1>
<h3>@ViewBag.addKidError</h3>
<form asp-controller="Kid" asp-action="addKid" method="post" id="addKidForm">
    
    <span asp-validation-for="FirstName"></span>
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName">
    
    <span asp-validation-for="LastName"></span>
    <label asp-for="LastName"></label>
    <input asp-for="LastName">
    
    <span asp-validation-for="Birthdate"></span>
    <label asp-for="Birthdate"></label>
    <input type="date" name="Birthdate">
    
    Teacher: <select name="teacher">
        @{foreach(var teacher in ViewBag.teachers){
            <option value="@teacher.LastName">@teacher.Prefix @teacher.FirstName</option>
        }}
        </select>
    <input type="submit" value="Add Child">
</form>