/*Write all of your CSS here*/

.navLinks{
    margin: 1%;
}

#kidTable{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 1%;
    width: 80%;
}

#updateKidTable{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 1%;
    width: 85%;
}

tr:nth-child(even){
    background: lightgray;
}

#asstHistoryTable{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 1%;
    width: 60%;
}

#kidsDueTable{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 1%;
    width: 60%;
}
th, tr, td{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 1%;
}