
<div class="topLinks">
    <div class="dashLogLinks">
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<h1>Are you sure you want to delete @ViewBag.kid.FirstName @ViewBag.kid.LastName from the database?</h1>
<br>
<h2>This action cannot be undone!</h2>
<a href="/deleteKid/@ViewBag.kid.id">Yes, Delete @ViewBag.kid.FirstName from the database</a>
<a href="/updateSingleKidPage/@ViewBag.kid.id">No, DO NOT DELETE @ViewBag.kid.FirstName</a>